<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/nav.css"/>
    <link rel="stylesheet" href="../static/404.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Background.css"/>
    <title>Page not found!</title>
    <style>

    </style>
</head>



<body>
    <header>


       
<!-- Navigation Bar to Right -->
        <div class="topnav">
            <img  class=" topnav_logo"src="../static/venom logo.png" alt="venom logo">


 <!-- Navigation Links to Pages -->           
      <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="./games">Games</a> </li>
            <li> <a class="active" href="./about-us">About us</a> </li>


            <!-- Search Bar -->  
            <li>  <form id="searchForm" method="post">
                    <input type="text" name="searchQuery" placeholder="Find a game..">
                </form>     
            </li>

    `    </ul>



<!-- Navigation Bar to Left -->
           <div class="login_signup">
            <ul>
                <li> <a id="sign-up" href="/sign-up">Sign up</a></li>
                <li> <a  id="login"  href="/login">Login</a></li>
            </ul>
        </div>
        </div>
    </header>

    </div>
    <div>
      <p id="errorMessage">You aren't authorized to view this page</p>
      <a id="clickToSignIn" href="/login">Click here to login.</a>
    </div>
</html>