<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/nav.css"/>
    <link rel="stylesheet" href="../static/Aboutus.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <style>
        body{
            background: linear-gradient(to right, gray,purple);
        }
    </style>
</head>



<body>
    <header>
        <div class="topnav">
            <img  class=" topnav_logo"src="../static/venom logo.png" alt="venom logo">
           <ul>
            <li> <a href="./">Home</a></li>
            <li> <a href="./account">Account</a></li>
            <li> <a href="./games">Games</a></li>
            <li> <a href="./about-us">About us</a></li>
            <li>
                <form id="searchForm" method="post">
                    <input type="text" name="searchQuery" placeholder="Find a game..">
                </form>     
            </li>
           </ul>
           <div class="login_signup">
            <ul>
                <li> <a id="sign-up" href="../static/SignUp.html">Sign up</a></li>
                <li> <a id="login"  href="../static/Login.html">Login</a></li>
            </ul>
        </div>
        </div>
    </header>
    <div class="AboutUS">
        <h1>About Us</h1>
        <img src="../static/venom logo.png" alt="venom logo">
        <p>
            <h2>"Empowering Gamers Everywhere: Providing Seamless, Thrilling, and Secure Game Hosting Solutions."</h2>
        </p>
    </div>
    <footer>
        <h2>contact us email: venom@gmail.com</h2>
    </footer>
    
</body>
</html>