<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/nav.css"/>
    <link rel="stylesheet" href="../static/gamesettings.css"/>
    <link rel="stylesheet" href="../static/gaming_Settings_Fav_Games.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: rgb(59, 84, 114);
            font-family: 'Poppins', sans-serif;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <header>
   
  <!-- Image Logo Card -->
  <div class="topnav">
    <img  class=" topnav_logo"src="../static/venom logo.png" alt="venom logo">



 <!-- Navigation Links to Pages -->           
 <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a class="active" href="/account">Account</a> </li>
    <li> <a href="/games">Games</a> </li>
    <li> <a href="/about-us">About us</a> </li>
 </ul>


           <div class="login_signup">
            <ul>
                <li> <a id="sign-up" href="/sign-up">Sign up</a></li>
                <li> <a id="login"  href="/login">Login</a></li>
            </ul>
         </div>
        </div>
    </header>


 <!-- Links to the textboxs -->
 <h1 class="settings" >Settings</h1>
 <div class="settings_container">
     <div class="settings_container_left">
         <a href="/profile/picture"><button type="button">Change Profile Picture</button></a>
         <a href="/account/inbox"><button type="button">Inbox</button></a>
         <a href="/account/favgames"><button type="button">Favorite Games</button></a>

         <button type="button">Change Password</button>
         <button type="button">Game Tracker</button> 
     </div>


        <div class="vertical"></div>
        <div class="settings_container_right">
            <div class="favgames">
                <h1>Favourite games</h1>
                <ol>
                    <li id="1"><img src="../static/sonic game.jpg"></li>
                    <li id="2"><img src="../static/mw3.jpg"></li>
                    <li id="3"><img src="../static/sonic game.jpg"></li>
                    <li id="4"><img src="../static/mw3.jpg"></li>
                </ol>
            </div>
        </div>
    </div>
    
</body>
</html>