<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nav.css"/>
    <link rel="stylesheet" href="../static/gamesettings.css"/>
    <link rel="stylesheet" href="../static/gaming_settings_chat_inbox.css"/>
    <title>Document</title>
    <style>
        body{
            background-color: rgb(59, 84, 114);
            align-items: center;
            justify-content: center;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
    </style>
</head>



<body>
        <header>
    
  <!-- Image Logo Card -->
  <div class="topnav">
    <img  class=" topnav_logo"src="../static/venom logo.png" alt="venom logo">



 <!-- Navigation Links to Pages -->           
 <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a class="active" href="/account">Account</a> </li>
    <li> <a href="/games">Games</a> </li>
    <li> <a href="/about-us">About us</a> </li>

   <!-- Search Bar -->  
   <li>  <form id="searchForm" method="post">
    <input type="text" name="searchQuery" placeholder="Find a game..">
   </form>     
</li> 

</ul>

<!-- Navigation Bar to Right LOGOUT-->
      <div class="login_signup">
       <ul>
           <li> <a id="sign-up" href="/logout">Logout</a></li>
       </ul>
    </div>
   </div>
</header>



 



   
    
    <!-- Links to the textboxs -->
    <h1 class="settings" >Settings</h1>
    <div class="settings_container">
        <div class="settings_container_left">
            <a href="/profile/picture"><button type="button">Change Profile Picture</button></a>
            <a href="/account/inbox"><button type="button">Inbox</button></a>
            <a href="/account/favgames"><button type="button">Favorite Games</button></a>

            <button type="button">Change Password</button>
            <button type="button">Game Tracker</button> 
        </div>




        <div class="vertical"></div>
        <div class="settings_container_right">
            <div class="inbox">
                <h1>Inbox</h1>
                
            </div>

        </div>
    </div>
    


</body>
</html>