#top_message {
  padding-top: 0.2em;
  font-size: 24px;
  padding-bottom: 0.2em;
  color: white;
  text-align: center;
  max-width: 40%;
}

.login-card {
  margin-top: 50px;
  height: 800px;
  width: 430px; /* Adjust the width as needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card-logo {
  height: 400px; /* Adjust the height as needed */
  width: 290px; /* Adjust the width as needed */
  margin-bottom: -70px; /* Adjust as needed */
}

.login-card-form {
  width: 100%; /* Make the form take the full width */
}

.form-item-other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px; /* Adjust as needed */
}

.form-item-other a {
  margin-top: 10px; /* Adjust as needed */
  color: rgb(1, 58, 84); /* Adjust the color as needed */
  text-decoration: none;
}

.form-item-other a:hover {
  text-decoration: underline;
}

.form-item {
  margin-bottom: 15px;
}

.form-item-icon {
  margin-right: 10px;
}

button {
  background-color: rgb(141, 236, 236);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 204, 255);
}

h6 {
  color: rgb(255, 255, 255);
  margin-bottom: -10px;
}

.form-item-other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px; /* Adjust as needed */
}

.form-item-other a {
  margin-top: 10px; /* Adjust as needed */
  color: rgb(1, 58, 84); /* Adjust the color as needed */
  text-decoration: none;
}

.form-item-other a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.both_checkboxes {
  text-align: center;
}
.space {
  padding: 110px;
}
.space2 {
  padding: 10px;
}
