.settings {
    text-align: center;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}



.settings_container_right .favgames ol li img{
    height: 150px;
    width: 150px;
}

.settings_container_right .favgames ol li{
    color: white;
    width:150px;
    margin-left: 100px;
    border: 5px solid white;
}

.favgames ol{
    display: grid;
    grid-template-columns:  200px 200px;
    grid-template-rows: 200px 200px;
    align-items: center;
    justify-content:end;
    


}

/* .favgames ol li{
    gap:20px;
} */

.settings_container_right .favgames{
    width:500px;
    height: 500px;
    flex-wrap: wrap;
}


.settings_container_right .favgames h1{

    text-align: center;
    margin-left: 200px;
    color: white    ;
}

/* .settings_container_right{
    display: grid;
    grid-template-columns:  200px 200px 200px;
    grid-template-rows: 200px 200px;
} */

.settings_container_right .favgames ol li #1{
    color: white;
    grid-area: 1/1/1/2;
}

.settings_container_right .favgames ol li #2{
    color: white;
    grid-area: 1/2/1/3;
}

.settings_container_right .favgames ol li #3{
    color: white;
    grid-area: 1/2/1/3;
}

