
@import url("/Users/bonillamarissa/Documents/P.V/reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




body{
    


    font-family: 'Aldhabi',sans-serif;
    min-height: 100vh;   
    background:linear-gradient(to right, #00bdff,#fff);
    display:flex;
    justify-content: center;
    align-items: center;
}




    

    .sign-up-card {
    /* Sign Up card */    
        width: 400px;
        background: rgba(255, 255, 255, .5);
        padding: 1rem;
        height: auto; /* Let the card adjust its height based on content */
        max-height: 1900px; /* Set a maximum height for the card */
        border-radius: 10px;
        position: relative;
        resize: initial;
        
        /* Center the card horizontally and vertically */
        margin-bottom: 400px; /* Move card from bottom */
        margin-top: 150px; /* Move card from top */
    }
    
.sign-up-card::before{
    content:'';
    position:absolute;
    background:rgba(255,255,255,.15);
    inset:0;
    transform: rotate(-5deg);
    z-index: -1;
}


/* Snake size Logo */
.sign-up-card-logo img{
    width: 190px;
    margin-top: -30px; 
    margin-bottom: -60px; /* Move the logo closer to the title */
}


.sign-up-card-logo,
.sign-up-card-header{
    text-align: center;
}


/* Positions elements in card */
.sign-up-card-header{
    margin-bottom: 10px;
    

  
}



/* Account title between information card */

    .sign-up-card-header h1{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5px; /* Adjust the margin-bottom to move the title closer */
    }
    





/* Information inside card */
.sign-up-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem; /* Font size for the input fields and buttons */
}

.sign-up-card-form .form-item {
    position: relative;
}


/* Icon in the form */
.sign-up-card-form .form-item .form-item-icon {
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
    color: black;
}

.form-item input[type="text"],
.sign-up-card input[type="date"],
.sign-up-card input[type="password"],
.sign-up-card input[type="mail"],
.sign-up-card input[type="celebration"] {
    border: none;
    outline: none;
    background-attachment: rgb(171, 249, 3);
    padding: 0.8rem 1.2rem; /* Padding for the input fields */
    padding-left: calc(1rem * 3.5);
    border-radius: 50px; /* Increase the border-radius for a smoother look */
    width: 100%;
    transition: background .5s;
}

.form-item-Fn-Ln input[type="text"] {
    border: none;
    outline: none;
    background-attachment: rgba(255, 255, 255, .3);
    padding: 0.8rem 1.2rem; /* Padding for the input fields */
    border-radius: 20px; /* Increase the border-radius for a smoother look */
    width: 100%;
    transition: background .5s;
}

.sign-up-card input:focus {
    background: white;
}

.sign-up-card button {
    background: black;
    color: #fff;
    padding: 0.8rem 1.2rem; /* Padding for the buttons */
    border-radius: 20px; /* Increase the border-radius for a smoother look */
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: background .5s;
}

.sign-up-card-form button {
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}


/* First name and last name */
.form-item-Fn-Ln{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  
}



